* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.card:not(.pub) {
  max-width: 18rem;
}

div#create-pub-form {
  max-width: 36rem;
}

div.bg {
  background-color: #e1e1e1;
}

form.card {
  margin-bottom: 100px;
}

form label {
  color: white;
}

div#pub-img-wrapper {
  width: 100%;
  padding-top: 100%;
  background-color: black;
  position: relative;
}

div#pub-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div#bg-explorar h2 {
  color: #505050;
}

div#bg-explorar .a-reproducir {
  font-size: 1rem;
  font-weight: bolder;
  color: #505050;
  text-decoration: none;
  display: block;
}

.a-reproducir.reproduciendo {
  background-color: firebrick !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

.a-reproducir.reproduciendo .fa-play {
  display: none;
}

.a-reproducir:not(.reproduciendo) .fa-play {
  display: inline;
}

.a-reproducir.reproduciendo .fa-stop {
  display: inline;
}

.a-reproducir:not(.reproduciendo) .fa-stop {
  display: none;
}

.a-reproducir.reproduciendo #spn-reproducir {
  display: none;
}

.a-reproducir.reproduciendo #spn-pausar {
  display: inline;
}

.a-reproducir:not(.reproduciendo) #spn-reproducir {
  display: inline;
}

.a-reproducir:not(.reproduciendo) #spn-pausar {
  display: none;
}

form#contacto {
  max-width: 36rem;
}

form#login-form {
  max-width: 18rem;
}

#logo {
  max-width: 100px;
}

.navbar {
  padding-top: 5rem;
}
